/* HashtagRow.css */
.hashtag-row {
  display: inline-flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 0;
  padding-left: 250px;
  margin-top: 40px;
  color: #333333;
  background-color: #bdc3c7;
  width: calc(100% - 250px);
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hashtag-row h3 {
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.hashtag-row h3:hover {
  transform: scale(1.2);
  cursor: pointer;
}
