@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #9ba9b5 0%, #bdc3c7 100%);
  color: #333333;
}

* {
  font-family: 'Raleway', sans-serif;
}
